



h1{
    font-family: 'Quicksand', sans-serif;
    float:right;
}



a:any-link {
    color:thistle
}


nav {
    color:lightslategray;
    text-align: end;
    font-family: 'Quicksand', sans-serif;
    text-align:left;

}

.menu {
    margin: 0 30px 0 0;
    line-height:50px;
    display:inline;
    margin-left: 15px;
}

label {
    font-size: 25px;
    line-height:50px;
    /* visibility: hidden; */
}

#toggle {
    visibility: hidden;
}



 #main {
     text-align:center;
     font-family: 'Montserrat', sans-serif;
 }
 #main .h2 {
     font-size: 50px;
 }

 #robin-photo h4  {
    font-family: 'Montserrat', sans-serif;
 }
 #robin-photo h5  {
    font-family: 'Montserrat', sans-serif;
 }
 
.img-text {
    position:relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:thistle;
        color: white;
        text-align: center;
        margin: 20px;
        font-family: 'Quicksand', sans-serif;
}

#robin-photo {
    position: relative;
    text-align: center;
    color: white;
  }
  

  
  /* Centered text */
  .centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .footer {

        position:relative;
        font-family: 'Quicksand', sans-serif;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:thistle;
        color: white;
        text-align: center;
        margin: 20px;
        padding: 10px;
  }

  
  @media screen and (max-width: 510px){
      label {
          display:block;    
      }
      .menu {
          text-align:center;
          width:100%;
          visibility: hidden;
      }
      .menu a {
          display:block;
          margin: 0;
      }
      #toggle:checked + .menu {
          display:block;
      }
  }
  